<!-- (C) Copyright IBM Corp. 2010 -->
<p>
<%= form_tag :method => "POST" %>
<textarea rows="10" cols="70" name="question">
</textarea><br/>
<small>
URL: <input type="input" name="url" size="80" value="<%= @cururl %>"><br/>
Title: <input type="input" name="title" size="80" value="<%= @title %>"><br/>
</small>
<input type="submit" value="Make a wish">
</form>
</p>
