<!-- (C) Copyright IBM Corp. 2010 -->
<p>
Want to know how to do something on this website?  Let the CoScripter
community know what you want to do, and perhaps someone will create a
script to help you out!
</p>

<%= render :partial => "makewish" %>

<hr/>

<%= render :partial => "wishscripts", :object => @requests %>
