<!-- (C) Copyright IBM Corp. 2010 -->
<!-- no action in the start_form_tag makes it default to the same action -->
<% form_tag do %>
  <%= render :partial => 'editform', :view => "browse" %>
<% end %>
