<html>
<!-- (C) Copyright IBM Corp. 2010 -->
<body>
You are not registered with CoScripter.
Please go <%= link_to "here", {:controller => :login, :action => :login,
  :redirect => @redirect}, {:target => "_main"} %> to register.
</body></html>
