<!-- (C) Copyright IBM Corp. 2010 -->
<% if not showbestbet.nil? %>
   <%= image_tag("editors-pick.png",
			    {:border => "0", :width => '97',
			    :height => '94', :alt => "Editors' Pick"}) %>
<% end %>
