<!-- (C) Copyright IBM Corp. 2010 -->
<script type="text/javascript">
var coscripter_download_version = "???";
</script>
<script type="text/javascript" att="tag" src="<%= $profile.version_js_url %>">
</script>
<span id="coscripter_download_version_span"></span>
<script type="text/javascript">
document.getElementById("coscripter_download_version_span").innerHTML = coscripter_download_version;
</script>
