<!-- (C) Copyright IBM Corp. 2010 -->
<div class="homebox">
  <h1>Popular scripts in building <%= @bldg %></h1>
  <div class="tab-selected" style="display:block">
	<%= render :partial => 'org_scripts', :object => @scripts %>
  </div>
</div>
