<!-- (C) Copyright IBM Corp. 2010 -->
<%= @sender_name %> added a comment to your wish for the website "<%= @wish.title %>":

<%= @comment.comment %>

Visit your wish's page to reply to this comment:
    <%= url_for(:anchor => "comments", :only_path => false,
	:controller => "browse", :action => "wish", :id => @wish) %>
