<?xml version="1.0" encoding="utf-8"?>
<!-- (C) Copyright IBM Corp. 2010 -->
<feed xmlns="http://www.w3.org/2005/Atom">
<title><%= h @feedtitle %></title>
<updated><%= h @feedmodified %></updated>
<link rel="alternate" type="text/html" href="<%= h @feedlinkhtml %>"/>
<id><%= h @feedlinkatom %></id>
<link rel="self" href="<%= h @feedlinkatom %>"/>
