<!-- (C) Copyright IBM Corp. 2010 -->
<h1>CoScripter releases:</h1>

<ul>
<li> <%= link_to "Milestone 7", :action => "m7" %> (Nov 24, 2008)
<li> <%= link_to "Milestone 6", :action => "m6" %> (Jun 17, 2008)
<li> <%= link_to "Milestone 5", :action => "m5" %> (Apr 22, 2008, IBM only)
<li> <%= link_to "Milestone 4.1", :action => "m4" %> (Feb 28, 2008)
</ul>
