<!-- (C) Copyright IBM Corp. 2010 -->
<div>
<h1>CoScripter License Agreement</h1>
<textarea rows=10 cols=80>
Customize this licensing agreement in app/views/shared/standalone/_license.rhtml
</textarea>
</div>
