<?xml version="1.0"?>
<!-- (C) Copyright IBM Corp. 2010 -->
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:svg="http://www.w3.org/2000/svg">
<head>
<title>
    <%= h (@page_title || "CoScripter statistics") %>
</title>
</head>

<body>

<!-- the main content -->
<%= @content_for_layout %>

</body>
</html>

