<html>
<!-- (C) Copyright IBM Corp. 2010 -->
<head>
  <title>Tags: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <link rel="icon" href="<%= image_path("coscripter-favicon.gif") %>" >
  <meta name="Robots" content="index,follow" />
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
